{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "home.css" %}">
    <title>Document</title>
</head>
<body>
   

{% comment %} updating feedback form   {% endcomment %}
    <div class="form-container">
        <h2>Update your feedback</h2>
        <form action="#" method="post">
            {% csrf_token %}
            <label for="rollno">Roll No:</label>
            <input type="text" id="rollno" name="rollno" placeholder="Enter Roll No" required value='{{value.roll_no}}'>

            <label for="studentname">Student Name:</label>
            <input type="text" id="studentname" name="studentname" placeholder="Enter Student Name" required value='{{value.student_name}}'>

            <label for="review">Student Reviews:</label>
            <textarea id="review" name="review" rows="4" placeholder="Write your review here..." required>{{value.student_reviews}}</textarea>
            <p>Check reviews <a href="/reviews/reviews/" style='color:blue;text-decoration: underline;'>Reviews</a></p>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>



</body>
</html>